.friend-container {
    margin-top: 50px;
    text-align: left;
    color: rgb(199, 197, 197);
}

.message-header {
    margin-left: 10px;;
}

.friend {
    color: rgb(199, 197, 197);
    /* padding: 2px; */
}

.friend:hover {
    background-color: #350d36;
}

[data-selected=true], [data-selected=true]:hover {
    font-weight: bold;
    background-color: #1164A3;
}
