.friend-container {
    margin-top: 50px;
    margin-left: 10px;
    text-align: left;
    color: rgb(199, 197, 197);
}

.friend {
    padding-left: 20px;
    color: rgb(199, 197, 197);
}

.friend:hover {
    background-color: #350d36;
}

[data-selected=true], [data-selected=true]:hover {
    font-weight: bold;
    background-color: #1164A3;
}
