.messageBox-container {
    display: flex;
    height: 40px;
    margin: 5px;
}

.messageBox-input {
    margin-left: 100px;
    height: 40px;
    width:75%;
    margin: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 4px;
}

.message-box-button{
    height: 40px;
    width: 45px;
    margin: 6px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}