.channel-header{
    margin-left: 10px;
}
.channel-container {
    margin-top: 50px;
    text-align: left;
    color: rgb(199, 197, 197);
}

.channel {
    color: rgb(199, 197, 197);
    padding: 1px;
}

.channel:hover {
    background-color: #350d36;
}

.channel-button {
    cursor: pointer;
    margin-left: 12px;
    padding: 1px;
    background-color:  #3F0E40;
}

.channel-button:hover {
    background-color: #350d36;
}


[data-selected=true]:hover {
    font-weight: bold;
    background-color: #1164A3;
}