.message-content {
    padding: 4px;
    padding-left: 20px;
    text-align: left;
}

[data-sender] { 
    overflow: auto;
    width: 500px;
    /* border: 1px solid black; */
    margin: 5px;
    /* border-radius: 5px; */
    overflow: auto;
    /* align-self: flex-end; */
}

[data-sender=true] {
    /* background-color: #3F0E40; */
    /* opacity: 70%; */
    margin: 5px;
    flex: none;
    /* align-self: flex-end; */
    /* color: white; */
}

.message {
    display: flex;
}

.sender-name {
    font-weight: bolder;
}


.message-avatar {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;;
}

.message-content-container{
    display: flex;
    flex-direction: column;
}