.chat-header-container {
    height: 3%;
    position: sticky;
    font-size: 18px;
    text-align: left;
    padding: 16px;
    font-weight: bolder; 
    border-bottom: .25px solid black;
}

.add-channel-button {
    float: right;
    height: 32px;
    width: 32px;
    font-size: 28px;
    background-color: white;
    border: none;
    cursor: pointer;
}