.message-header-container {
    height: 32px;
    width: 1650px;
    position: sticky;
    font-size: larger;
    text-align: left;
    padding: 16px;
    font-weight: bolder; 
    border-bottom: .25px solid black;
    font-size: 24px;
}