.side-header-container {
    position: sticky;
    background: #3F0E40;
    color: #FFFFFF;
    height: 3%;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    padding: 16px;
    font-weight: bolder; 
    display: flex;
    align-items: center;
    border-bottom: 0.25px solid grey;
}