.header-container {
    position: fixed;
    background: #3F0E40;
    color: #FFFFFF;
    height: 20px;
    font-size: 18px;
    line-height: 1.33334;
    font-weight: 900;
    position: sticky;
    text-align: left;
    padding: 16px;
    font-weight: bolder; 
    display: flex;
    align-items: center;
    
}